<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MCC</title>

    <!-- bootstrap style -->
    <link href="/assets@admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- font awesome -->
    <link href="/assets@admin/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- main style -->
    <link href="/assets@admin/styles/main.css" rel="stylesheet">

    <!-- csrf meta tags -->
    <%= csrf_meta_tags %>
</head>
<body>

    <!-- wrapper-->
    <div id="wrapper">

        <!-- navigation -->
        <%= render 'layouts/navigation' %>

        <!-- page wrapper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- top navbar -->
            <%= render 'layouts/topnavbar' %>

            <!-- main view  -->
            <%= yield %>

            <!-- footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- end page wrapper-->

    </div>
    <!-- end wrapper-->
    
    <!-- jquery -->
    <script src="/assets@admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- metis menu script -->
    <script src="/assets@admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- main script -->
    <script src="/assets@admin/scripts/main.js"></script>
    
    <!-- rails script -->
    <%= javascript_include_tag 'application' %>

    <!-- page specific script -->
    <%= yield :javascript %>

</body>
</html>
